html, body, #root {
  min-height: 100%;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sw-app {
  display: flex;
  min-height: 100%;
}

.sw-app .sw-tabs {
  display: flex;
  height: inherit;
  width: 100%;
}

.sw-app .sw-tabs .MuiTabs-root.MuiTabs-vertical {
  position: relative;
  color: #ffffff;
  background-color: #042235;
  height: 100%;
}

/* disabled material UI default opacity setting */
.sw-app .sw-tabs .MuiTabs-root.MuiTabs-vertical .MuiTabs-scroller.MuiTabs-fixed
.MuiTabs-flexContainer.MuiTabs-flexContainerVertical
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit {
  opacity: unset;
}

/* styles for icons on left Tabs bar */
.sw-app .sw-tabs .MuiTabs-root.MuiTabs-vertical .MuiTabs-scroller.MuiTabs-fixed
.MuiTabs-flexContainer.MuiTabs-flexContainerVertical
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit .MuiSvgIcon-root {
  opacity: 0.5;
}

/* styles for selected Tab on left Tabs bar */
.sw-app .sw-tabs .MuiTabs-root.MuiTabs-vertical .MuiTabs-scroller.MuiTabs-fixed
.MuiTabs-flexContainer.MuiTabs-flexContainerVertical
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
  background-color: #2995da;
}

/* styles for selected Tab's icon */
.sw-app .sw-tabs .MuiTabs-root.MuiTabs-vertical .MuiTabs-scroller.MuiTabs-fixed
.MuiTabs-flexContainer.MuiTabs-flexContainerVertical
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected .MuiSvgIcon-root {
  opacity: 1.0;
}

.sw-app .sw-tabs .MuiTabs-root.MuiTabs-vertical .MuiTabs-scroller.MuiTabs-fixed
.MuiTabs-flexContainer.MuiTabs-flexContainerVertical .MuiTab-root {
  width: 62px;
  min-width: 62px;
  padding: 19px;
}

.sw-app .sw-tab-panel {
  flex: 1;
}

.sw-app .sw-tab-panel .sw-teams-page {
  background-color: #f1f4f8;
  height: 100%;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars {
  display: grid;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-top-bar {
  display: inline-block;
  padding: 1%;
  position: relative;
  color: #000000;
  background-color: #ffffff;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-top-user {
  float: right;
  padding: 1%;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-top-words {
  margin-top: 10px;
  float: left;
  padding: 1%;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-create-bar {
  display: inline-block;
  padding: 1%;
  position: relative;
  background-color: #ffffff;
  color: #000000;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-create-bar .sw-teams-create-bar-icon {
  display: flex;
  float: left;
  padding: 1%;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-create-bar .sw-teams-create-bar-create-a-team {
  float: right;
  padding: 1%;
}

/* set colours of Create New Team button */
.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-create-bar .sw-teams-create-bar-create-a-team
.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  color: #ffffff;
  background-color: #40d2bf;
  box-shadow: unset;
  padding-left: 9px;
  padding-right: 11px;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-tab-bar {
  display: inline-block;
  position: relative;
  color: #000000;
  background-color: #ffffff;
  box-shadow: unset;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-tab-bar .sw-teams-tabs {
  display: flex;
  float: left;
}

/* disable ripple effect for material UI tabs in Teams tabs */
.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-tab-bar .sw-teams-tabs
.MuiTabs-root .MuiTabs-scroller.MuiTabs-fixed .MuiTouchRipple-root {
  display: none;
}

/* in Teams tabs, ensure default colour of text black */
.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-tab-bar .sw-teams-tabs
.MuiTabs-root .MuiTabs-scroller.MuiTabs-fixed .MuiTabs-flexContainer
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit {
  color: #000000;
}

/* in Teams tabs, give selected tab blue text */
.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-tab-bar .sw-teams-tabs
.MuiTabs-root .MuiTabs-scroller.MuiTabs-fixed .MuiTabs-flexContainer
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorInherit.Mui-selected {
  color: #0083e3;
}


.sw-app .sw-tab-panel .sw-teams-page .sw-teams-all-bars .sw-teams-tab-bar .sw-teams-search {
  display: flex;
  float: right;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-main {
  display: flex;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-main .sw-all-teams {
  background-color: #ffffff;
  position: relative;
  padding: 5px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-main .sw-all-teams
.MuiPaper-root.MuiCard-root.sw-normal-team.MuiPaper-elevation1.MuiPaper-rounded {
  background-color: #ffffff;
}

.sw-app .sw-tab-panel .sw-teams-page .sw-teams-main .sw-all-teams
.MuiPaper-root.MuiCard-root.sw-archived-team.MuiPaper-elevation1.MuiPaper-rounded {
  background-color: #ebeef2;
  color: 
}

.sw-app #sw-backdrop {
  z-index: 5000;
  color: #ffffff;
}

.sw-app #sw-help-icon {
  align-self: center;
  bottom: 0;
  position: fixed;
  color: #ffffff;
  opacity: 0.5;
}

.sw-app .sw-tab-panel .sw-loading-screen {
  background-color: #f1f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4f6472;
  font-size: calc(30px + 2vmin);
}
